@charset "utf-8";
body{
    margin :0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
    align-items: center;
}
  /*CABECALHO*/  
.logo{
    background-color: rgb(2, 2, 103);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: 0px;
    font-size: 30px;
}
.topo_menu{
    display: flex;
    margin: 35px;
    margin-right: 50px;
}
.topo_menu li {
    margin: -30px;
    justify-content: flex-end;
    list-style: none;

}
.topo_menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: fixed;
    margin-top: 20px;
}
/*----------------------Banner Principal-------------------------------------------------------------------------*/
.banner{
    background-image: url("-imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}
.banner h1{
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 2px rgb(153, 6, 6);
    position: center;
    margin: 10px 0;
}
/*---------------------------*FILME1*----------------------------------------------------------------------------------*/

.filme1 img{
   width: 200px;
   display: flex;
   margin-left: 30px;
   margin-top: 30px;
   position: 10px;

}
 .filme1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 3px blue;
    padding: 0%;
    margin-bottom: 10px;
    text-align: center;
    top: 0;
    margin-top: -280px;
    margin-left: 50px;
    
   

}
.filme1 p{
    font-size: 20px;
    line-height: 1.0;
    margin: 80%;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    text-shadow: 3px 3px 3px blue;
    margin-bottom: 50px;
    align-items: center;
    text-align: justify;
    display: block;
}
/*-----------Classificação do Filme---------------*/
#classificacao img{
    width: 20px;
    display: flex;
    text-align: center;
    margin-left: 500px;
    margin-top: 15px;
    margin-right: 500px;
    border-radius: 50px;
    position: relative;

}
#classificacao h2{
    color: rgb(246, 246, 246);
    display: flex;
    text-align: center fixed;
    margin-left: 550px;
    margin-right: 500px;
    margin-top: -17px;
    text-shadow: 3px 3px 3px blue;
    font-size: 15px;
    align-items: center;
   
}
/*--------------Trailer e Sessões do filme---------*/
#btn_Trailer{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 600px;
    font-size: 150%;
    display: flex;
    position: relative;
    text-align: center fixed;
}
#btn_Sessoes{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: -47px;
    border-radius: 5px;
    margin-left: 800px;
    font-size: 150%;
    display: flex;
    position: relative;
    text-align: center/fixed;
}

/*---------rodape da pagina*-----*/
#rodape{
    background-color: rgb(2, 2, 103);
    top: auto;
    padding: 10px;
    margin-bottom: auto;
}