@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #000;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
/*CABECALHO*/
.logo{
    background-color: rgb(2,2,103);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 15px;
    width: 100%;
    top: 0;
    margin-left: 0px;
    font-size: 30px;
    position: fixed;
}
.logo a{
    text-decoration: none;
    color: white;
    position: fixed;
}
.topo{
    height: 10vh;
    background-color:rgba(51, 50, 50, 0.29);
}
.topo_menu{
    display: flex;
    margin: 35px;
    margin-right: 100px;
}
.topo_menu li {
    margin: -50px;
    justify-content: flex-end;
    list-style: none;

}
.topo_menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top: 40px;
    right: 20px;
}
/* Banner Principal */
.banner{
    background-image: url("-imagens/bg-hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    height: 25vh;
}
.banner h1{
    color: red;
    text-shadow: 10px 10px 10px white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
}
body form{
    margin: auto;
    width: 20%;
    padding: 20px;
    background-color: rgb(2, 2, 103);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(153, 6, 6);
    margin-top: 20px;
}
body h1{
    text-align: center;
    justify-content: center;
    padding: 20px;
}
body label[for="email"] {
    display: flex;
    margin-bottom: 10px;
}
body input[type="email"]{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
}
body label[for="senha"]{
    display: flex;
    margin-bottom: 10px;
}
body input[type='password']{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
   
}
body input[type="submit"]{
    background-color: rgb(226, 0, 0);
    margin-bottom: 10px;
    display: flex; 
    font-size: 15px;
    margin-top: 10px;
}
body a{
    color: white;
}
.btn-Google img{
       width: 15px;    
}
.btn-Google{
    text-align: center;
    font-size: 20px;
    background-color: red;
    border: 1px solid black;
     margin-top: 10px;
}
.btn-Google a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.btn-Microsioft{
    text-align: center;
    font-size: 20px;
    background-color: red;
    border: 1px solid black; 
     margin-top: 10px;
}
.btn-Microsioft a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.btn-Microsioft img{
    width: 15px; 
}
/* Rodapé */
.rodape{
    background-color: rgb(2, 2, 103);
    top: auto;
    padding: 10px;
}