@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   'Times New Roman', Times, serif;
    background-color: #222;
    color: white;
    justify-content: center;
    align-items: center;
}
/*CABECALHO*/
.logo{
    background-color: rgb(2, 2, 103);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: 0px;
    font-size: 30px;

}
.logo a{
    text-decoration: none;
    color: white;
    position: fixed;
}
.topo_menu{
    display: flex;
    margin: 35px;
    margin-right: 100px;
}
.topo_menu li {
    margin: -50px;
    justify-content: flex-end;
    list-style: none;

}
.topo_menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: fixed;
    margin-top: 40px;
    right: 20px;
}
/* Banner Principal */
.banner{
    background-image: url("-imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}
.banner h1{
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 2px rgb(153, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.cartaz{
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    gap: 20px;
    
}
.cartaz h2{
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}
.cartalogo_filmes{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.filme{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #333232;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
   /* margin-right: 500px;*/
}
.filme img{
    width: 100%;
    border-radius: 10px;
}
/*.filme2{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #333232;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    margin-right: 500px; 
    display: flex;
}
.filme2 img{
    width: 100%;
    border-radius: 10px;
}
.filme3{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #333232;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    margin-right: 500px; 
    display: flex;
}
.filme3 img{
    width: 100%;
    border-radius: 10px;
}
.filme4{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #333232;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    margin-right: 500px; 
    display: flex;
}
.filme4 img{
    width: 100%;
    border-radius: 10px;
}
.filme5{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #333232;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    margin-right: 500px; 
    display: flex;
}
.filme5 img{
    width: 100%;
    border-radius: 10px;
}
.filme6{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #333232;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    margin-right: 500px; 
    display: flex;
}
.filme6 img{
    width: 100%;
    border-radius: 10px;
}*/
/* Rodapé */
.rodape{
    background-color: rgb(2, 2, 103);
    top: auto;
    padding: 10px;
}
