@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
/*CABECALHO*/
.logo{
    background-color: rgb(2, 2, 103);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: -50px;
    font-size: 30px;
}
/* Banner Principal */
.banner{
    background-image: url("-imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.banner h1{
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 2px rgb(153, 6, 6);
}
/* Rodapé */
.rodape{
    background-color: rgb(2, 2, 103);
    /*padding: 20%;
    text-align: center;*/
}